<%= form_with model: @color_papers, local: true do |f|%>



  <div class="field">
    <%= f.label :comment, "感謝の言葉を贈ってください" %><br />
    <%= f.text_area :comment %>
  </div>

  <div class="field">
    <%= f.label :image, "記念すべき１枚を選んで下さい" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "投稿する", class: :form__btn  %>
  </div>
<% end %>