<%= form_with model: @color_paper, local: true do |f|%>

  <div class="field">
    <%= f.label :title, "タイトルを入力してください" %><br />
    <%= f.text_area :title %>
  </div>

  <div class="field">
    <%= f.label :picture, "記念すべき１枚を選んで下さい" %><br />
    <%= f.file_field :picture, direct_upload: true %>
  </div>

  <%# ここでパラメーターにbirthday_idを付与 %>
  <%= f.hidden_field :birthday_id, :value => @birthday_id %>
  <div class="actions">
    <%= f.submit "投稿する", class: :form__btn  %>
  </div>

<% end %>