<%= form_with model: @color_paper, local: true do |f|%>

  <div class="field">
    <%= f.label :image, "記念すべき１枚を選んで下さい" %><br />
    <%= f.file_field :image %>
    <%= image_tag @color_paper.image.variant(resize: '500x500') if @color_paper.image.attached?%>
  </div>
  <%# ここでパラメーターにbirthday_idを付与 %>
  <%= f.hidden_field :birthday_id, :value => @birthday_id %>
  <div class="actions">
    <%= f.submit "投稿する", class: :form__btn  %>
  </div>

<% end %>