<%= form_with model: @picture, local: true do |f|%>

  <div class="field">
    <%= f.label :title, "タイトルを入力してください" %><br />
    <%= f.text_area :title %>
  </div>

  <div class="field">
    <%= f.label :image, "記念すべき１枚を選んで下さい" %><br />
    <%= f.file_field :image, direct_upload: true %>
  </div>

  <%= f.hidden_field :color_paper_id, :value => @color_paper_id %>
  <div class="actions">
    <%= f.submit "投稿する", class: :form__btn  %>
  </div>

<% end %>