<h1>&#x1F389;思い出に残す人を登録してください&#x1F389;</h1>

<%= form_with model: Birthday, local: true do |f|%>
  <div class="field">
    <%= f.label :borrowed_on, "日付" %><br />
    <%= f.date_field :borrowed_on %>
  </div>

  <div class="field">
    <%= f.label :title, "ニックネーム" %><br />
    <%= f.text_area :title %>
  </div>

   <div class="actions">
    <%= f.submit "登録する", class: :form__btn  %>
  </div>
<% end %>