<h1>&#x1F389;思い出に残す人を登録してください&#x1F389;</h1>

<%= form_with model: @Birthday, local: true do |f|%>
  <div class="field">
    <%= f.label :date, "日付" %><br />
    <%= f.datetime_field :date %>
  </div>

  <div class="field">
    <%= f.label :celebrate_person_name, "ニックネーム" %><br />
    <%= f.text_area :celebrate_person_name %>
  </div>

   <div class="actions">
    <%= f.submit "登録する", class: :form__btn  %>
  </div>
<% end %>