

  <%= @birthday.celebrate_person_name %>
  <%= @birthday.user.nickname %>

  <%=link_to '誕生日の編集画面はこちら', edit_birthday_path(@birthday.id) %>
  <%=link_to 'この方の色紙編集画面はこちら', new_color_paper_path(@birthday.id) %>


  <%= form_with model: @color_paper, do |f|%>

  <div class="field">
    <%= f.label :comment, "感謝の言葉を贈ってください" %><br />
    <%= f.text_area :comment %>
  </div>
   
  <div class="actions">
    <%= f.submit "贈る", class: :form__btn  %>
  </div>
<% end %>